body{
  width: 300px;
  height: 500px;
  margin: 50px 0 0 500px;
  position: fixed;
  background-size: 320px 520px;
  border: 10px solid;
  border-radius: 10px;
}

.toolbar{
  color: white;
  background-color: orange;
  line-height: 30px;
}

.page_name{
  font-size: 25px;
  margin-left: 80px;
}

.button{
  color: white;
  font-size: 20px;
  margin-left: 100px;
  background-color: orange;
  border-radius: 5px;
}

#arrow{
  width: 30px;
  height: 30px;
}

#burger{
  width: 300px;
}

#star{
  margin-left: 75px;
  width: 150px;
  height: 30px;
}

h2{
  font-size: 20px;
  margin-left: 90px;
}

h3{
  font-size: 12px;
  margin-left: 90px;
}


